<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div class="w-full h-screen flex flex-col items-center justify-start">
    <div class="container font-sans mb-4 px-4 flex items-center justify-between">
      <h2 class="text-2xl text-gre">
        Hello MaYi!
      </h2>
      <div class="h-32"></div>
    </div>
    <hr class="container mb-4" />
    <div id="root"></div>
  </div>
</body>
</html>
